@import '../../../sass/index.scss';

.sidebar-wrapper {
  padding: 3px 20px;

  .sidebar-item {
    font-size: $fs-sm;
    cursor: pointer;

    &:hover {
      color: $hover-color;
    }

    i {
      margin-right: 3px;
      font-size: $fs-xs;
    }
  }

  .sidebar-active {
    font-weight: bold;
  }

  .sub-sidebar {
    height: 0;
    overflow: hidden;
  }

  .open {
    height: auto;
  }
}
